@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   font-family: 'Roboto Condensed', sans-serif;
   color-scheme: light dark;
   color: #dedede;
   background-color: #101014;
   box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
}
